<div class="previewBookCoverContainer js-previewBookCoverContainer {{#if hasPreview}}has-preview{{/if}}" style="width:{{{ width }}}px">
    <input type="hidden" name="_book_cover" value="{{{ value }}}" class="js-bookCover">
    <span class="previewBookCover js-previewBookCover" data-preview-size="{{{ previewSize }}}">{{{ preview }}}</span>
    <span class="deletePreviewBookCover js-deletePreviewBookCover">&times;</span>
    <button class="button-secondary js-uploadBookCover">{{{ uploadAnchor }}}</button>
</div>
